@font-face {
  font-family: 'DINPro-Light';
  src: url("../fonts/DINPro-Light.otf"), url("../fonts/DINPro-Light.woff") format("woff"), url("../fonts/DINPro-Light.ttf") format("truetype"), url("../fonts/DINPro-Light.svg#DINPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DINPro-Medium';
  src: url("../fonts/DINPro-Medium.otf"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype"), url("../fonts/DINPro-Medium.svg#DINPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #00425F;
  font-family: DINPro-Light; }

.wrapper {
  width: 100%;
  max-width: 80em;
  margin: 0 auto; }

.header {
  margin-top: 3.75em !important;
  width: 100%;
  position: relative; }
  .header #sticky-wrapper .menu-wrapper {
    margin-left: 25%;
    width: 50%; }
  .header #sticky-wrapper.is-sticky {
    width: 100% !important; }
    .header #sticky-wrapper.is-sticky .menu-wrapper {
      z-index: 999 !important;
      box-shadow: 0px 5px 4px -5px #888888;
      margin-left: 0 !important; }
      .header #sticky-wrapper.is-sticky .menu-wrapper:before {
        display: none; }

.logo {
  position: relative; }
  .logo:before {
    content: "";
    position: absolute;
    right: -0.5em;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.46875em 0 0.46875em 0.625em;
    border-color: transparent transparent transparent #00425F; }

.menu-wrapper {
  background: #EBEBEB;
  position: relative;
  transition: all 0.2s ease-in-out; }
  .menu-wrapper:before {
    content: "";
    right: -1.8125em;
    top: 0;
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 3.3125em 1.875em 0 0;
    border-color: #EBEBEB transparent transparent transparent; }
  .menu-wrapper .menu li {
    float: left;
    margin-right: 2.5%; }
    .menu-wrapper .menu li a {
      text-transform: uppercase;
      text-decoration: none;
      color: #000000;
      font-size: 0.875em;
      position: relative; }
      .menu-wrapper .menu li a:hover:before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.07143em;
        background: #7C9CAB;
        bottom: -0.14286em; }
    .menu-wrapper .menu li:last-child {
      margin-right: 0; }

.home {
  background: url("../images/home-bg.png") no-repeat;
  color: #fff;
  position: relative; }
  .home .content {
    background: url("../images/home-bg-transparent.png") no-repeat left bottom;
    padding-bottom: 16.875em;
    margin-bottom: 6.5625em; }
    .home .content .site-title {
      font-size: 5em;
      margin-top: 0.5em; }
    .home .content .site-slogan > p {
      margin: 0;
      font-size: 1.5625em; }

.content .section-title {
  font-size: 3.125em;
  margin-top: 2.5em;
  color: #00425F;
  position: relative;
  text-transform: uppercase;
  border-bottom: 2px dotted #7C9DAB; }
.content .text > p {
  font-size: 1em;
  color: #232323; }

.cassem {
  background: url("../images/cassem-bg-transparent.png") #EBEBEB no-repeat left top;
  min-height: 45em; }

.directives {
  background: url("../images/directivos-bg-transparent.png") #EBEBEB no-repeat left top;
  min-height: 45em; }
  .directives .section-title {
    margin-top: 1.75em; }
  .directives .col-title {
    margin-top: 3.125em; }

.mission {
  background: url("../images/mision-bg-transparent.png") #EBEBEB no-repeat left top;
  min-height: 45em; }
  .mission .section-title {
    color: #fff; }
  .mission .text > p {
    color: #fff; }

.entities {
  background: url("../images/entidades-bg-transparent.png") #EBEBEB no-repeat left top;
  min-height: 45em; }
  .entities .gallery {
    padding-top: 3.4375em; }
    .entities .gallery img {
      max-width: 100%;
      height: auto;
      margin: 0.625em 1.875em 0 0; }

.agreement {
  background: url("../images/agreement-bg-transparent.png") #EBEBEB no-repeat left top;
  min-height: 45em; }
  .agreement .text {
    box-sizing: border-box;
    padding-right: 2.8125em;
    height: 21.5em;
    overflow: auto; }
  .agreement .section-subtitle {
    margin: 1.875em 0 0.625em;
    padding-left: 3.1875em;
    position: relative; }
    .agreement .section-subtitle:before {
      width: 2.5625em;
      height: 2.5625em;
      background: url("../images/blue-arrow.png") no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      content: ""; }

.contact {
  background: url("../images/contacto-bg-transparent.png") #EBEBEB no-repeat left top/cover;
  min-height: 45em; }
  .contact .content .section-title {
    border-bottom-color: #fff;
    color: #fff;
    margin-top: 1.25em; }
  .contact .text form {
    font-size: 0.875em; }
    .contact .text form input[type="text"],
    .contact .text form input[type="email"] {
      border: none;
      box-sizing: border-box;
      padding: 0.35714em;
      margin-bottom: 0.71429em;
      width: 100%; }
    .contact .text form textarea {
      border: none;
      padding: 0.35714em;
      box-sizing: border-box;
      height: 8.75em;
      width: 100%; }
    .contact .text form input[type="submit"] {
      background: #00425F;
      color: #fff;
      border: none;
      padding: 0.71429em 1.07143em; }
  .contact .logo-footer {
    margin-bottom: 0.9375em; }
    .contact .logo-footer img {
      margin: 0 auto;
      display: table; }
  .contact .copy {
    text-align: center;
    color: #fff;
    margin-bottom: 3.125em; }
  .contact .social {
    margin-bottom: 0.9375em; }
    .contact .social img {
      margin: 0 auto;
      display: table; }

/*# sourceMappingURL=style.css.map */
